/****************************************************************************


fe4.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include"fe4.h"

  IDB_ENCODE      BITMAP           "ENCODE.BMP"
  IDB_DECODE      BITMAP           "DECODE.BMP"
  IDB_SHRED       BITMAP           "SHRED.BMP"
  IDB_BROWSEF     BITMAP           "BROWSE_FILE.BMP"
  IDB_BROWSED     BITMAP           "BROWSE_DIR.BMP"
  IDB_TEMP        BITMAP           "TEMP.BMP"
  IDB_ABOUT       BITMAP           "ABOUT.BMP"
  IDB_HELP        BITMAP           "HELP.BMP"
  IDB_LOGO        BITMAP           "FE4_LOGO.BMP"
  IDB_REMOVE      BITMAP           "REMOVE.BMP"
  IDB_SEARCH      BITMAP           "SEARCH.BMP"
  IDB_RENAME      BITMAP           "RENAME.BMP"
  IDB_MOVE        BITMAP           "MOVE.BMP"
  IDB_EXIT        BITMAP           "EXIT.BMP"
  IDB_OPEN        BITMAP           "OPEN.BMP"
  IDB_LOCK        BITMAP           "LOCK.BMP"   
  IDI_MYICON      ICON             "FEICO.ICO"
  IDI_MYICON2     ICON             "FEICO2.ICO"

IDD_DIALOG1 DIALOGEX 489, 130, 515, 242
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_ACCEPTFILES | WS_EX_APPWINDOW | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "FE W 04"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_PASS, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_PASSWORD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 364, 188, 114, 17, WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
 CONTROL "", IDC_LIST, "listbox", LBS_STANDARD | LBS_MULTIPLESEL | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 64, 216, 156, WS_EX_DLGMODALFRAME | WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
 CONTROL "&e", IDC_ENCODE, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 9, 40, 30
 CONTROL "&d", IDC_DECODE, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 9, 40, 30
 CONTROL "&s", IDC_SHRED, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 107, 9, 40, 30
 CONTROL "&c", IDC_REMOVE, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 232, 129, 33, 18, WS_EX_ACCEPTFILES
 CONTROL "&b", IDC_BROWSE1, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 232, 68, 33, 18, WS_EX_ACCEPTFILES
 CONTROL "&f", IDC_BROWSE2, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 232, 97, 33, 18, WS_EX_ACCEPTFILES
 CONTROL "&q", IDC_EXIT, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 197, 10, 40, 30, WS_EX_ACCEPTFILES
 CONTROL "&r", IDC_RENAME, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 329, 129, 40, 30, WS_EX_ACCEPTFILES
 CONTROL "", IDC_FILENAME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 368, 39, 121, 16, WS_EX_DLGMODALFRAME | WS_EX_CLIENTEDGE
 CONTROL "Rename Files to the above name after process", IDC_TORENAME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 328, 57, 166, 12
 CONTROL "File Name :", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 326, 42, 41, 8
 CONTROL "Password  :", IDC_STATICTEXT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 325, 193, 38, 8
 CONTROL "Folder       :", IDC_STATICTEXT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 326, 74, 36, 8
 CONTROL "", IDC_DIRNAME, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 368, 70, 121, 16, WS_EX_DLGMODALFRAME | WS_EX_ACCEPTFILES | WS_EX_CLIENTEDGE
 CONTROL "Move Files to above folder after encoding/decoding", IDC_TOMOVE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 329, 104, 176, 12
 CONTROL "Frame7", IDC_STATICFRAME3, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 321, 34, 192, 147
 CONTROL "&m", IDC_MOVE, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 391, 129, 40, 30, WS_EX_ACCEPTFILES
 CONTROL "&l", IDC_BROWSE3, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 466, 89, 20, 14
 CONTROL "&t", IDC_TEMP, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 9, 40, 30
 CONTROL "&i", IDC_SEARCH, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 457, 129, 40, 30
 CONTROL "&h", IDC_HELP, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 490, 0, 12, 12
 CONTROL "&i", IDC_ABOUT, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 503, 0, 12, 12
 CONTROL "&Browse For File", IDC_STATICTEXT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 268, 72, 49, 8
 CONTROL "Browse &Folder", IDC_STATICTEXT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 267, 101, 45, 8
 CONTROL "&Clear File(s) \r\nFrom List", IDC_STATICTEXT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 267, 129, 49, 15
 CONTROL "&QUIT", IDC_STATICTEXT7, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 208, 46, 20, 9
 CONTROL "&ENCODE", IDC_STATICTEXT8, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 44, 32, 8
 CONTROL "&DECODE", IDC_STATICTEXT9, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 65, 44, 32, 8
 CONTROL "&SHRED", IDC_STATICTEXT10, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 113, 44, 28, 8
 CONTROL "CLEAR\r\n &TEMP", IDC_STATICTEXT11, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 158, 45, 28, 16
 CONTROL "&RENAME", IDC_STATICTEXT14, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 333, 162, 36, 8
 CONTROL "&MOVE", IDC_STATICTEXT15, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 400, 162, 24, 8
 CONTROL "F&IND", IDC_STATICTEXT16, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 470, 161, 17, 8
 CONTROL "", IDC_PROCESSED, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 380, 224, 21, 16
 CONTROL "Total Files Processed :", IDC_STATICTEXT17, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 304, 228, 72, 8
 CONTROL "ProgressBar1", IDC_PROG, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 44, 228, 184, 9
 CONTROL "&o", IDC_OPEN, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 232, 194, 33, 18, WS_EX_ACCEPTFILES
 CONTROL "&Open Containing\r\n        Folder", IDC_STATICTEXT19, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 267, 199, 53, 17
 CONTROL "Status :", IDC_STATICTEXT20, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 11, 228, 30, 8
 CONTROL "Frame8", IDC_STATICFRAME1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 321, 181, 193, 39
 CONTROL "&a", IDC_REMOVEALL, "button", BS_PUSHBUTTON | BS_BITMAP | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 232, 161, 33, 18
 CONTROL "Clear &All\r\nFrom List", IDC_STATICTEXT18, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 268, 162, 40, 17
 CONTROL "(Needed for encoding,decoding)", IDC_STATICTEXT21, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 371, 208, 104, 8
 CONTROL "Errors Encountered :", IDC_STATICTEXT12, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 410, 228, 66, 8
 CONTROL "", IDC_ERRORS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 480, 224, 21, 16
 CONTROL "Total Files :", IDC_STATICTEXT13, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 234, 228, 36, 8
 CONTROL "", IDC_TOTAL, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 272, 224, 21, 16
}

1 RCDATA 
{
'EF BB BF 3C 3F 78 6D 6C 20 76 65 72 73 69 6F 6E'
'3D 22 31 2E 30 22 20 65 6E 63 6F 64 69 6E 67 3D'
'22 55 54 46 2D 38 22 20 73 74 61 6E 64 61 6C 6F'
'6E 65 3D 22 79 65 73 22 3F 3E 0D 0A 3C 61 73 73'
'65 6D 62 6C 79 20 78 6D 6C 6E 73 3D 22 75 72 6E'
'3A 73 63 68 65 6D 61 73 2D 6D 69 63 72 6F 73 6F'
'66 74 2D 63 6F 6D 3A 61 73 6D 2E 76 31 22 20 6D'
'61 6E 69 66 65 73 74 56 65 72 73 69 6F 6E 3D 22'
'31 2E 30 22 3E 20 0D 0A 3C 61 73 73 65 6D 62 6C'
'79 49 64 65 6E 74 69 74 79 20 0D 0A 20 20 20 20'
'76 65 72 73 69 6F 6E 3D 22 36 2E 30 2E 30 2E 31'
'22 20 0D 0A 20 20 20 20 70 72 6F 63 65 73 73 6F'
'72 41 72 63 68 69 74 65 63 74 75 72 65 3D 22 58'
'38 36 22 20 0D 0A 20 20 20 20 6E 61 6D 65 3D 22'
'2B 2B 2B 20 47 6C 20 53 6F 74 77 61 72 65 7A 20'
'2B 2B 2B 22 0D 0A 20 20 20 20 74 79 70 65 3D 22'
'77 69 6E 33 32 22 20 0D 0A 2F 3E 20 0D 0A 3C 64'
'65 73 63 72 69 70 74 69 6F 6E 3E 2B 2B 2B 20 47'
'6C 20 53 6F 66 74 77 61 72 65 7A 20 2B 2B 2B 3C'
'2F 64 65 73 63 72 69 70 74 69 6F 6E 3E 20 0D 0A'
'3C 64 65 70 65 6E 64 65 6E 63 79 3E 20 0D 0A 20'
'20 20 20 3C 64 65 70 65 6E 64 65 6E 74 41 73 73'
'65 6D 62 6C 79 3E 20 0D 0A 20 20 20 20 20 20 20'
'20 3C 61 73 73 65 6D 62 6C 79 49 64 65 6E 74 69'
'74 79 20 0D 0A 20 20 20 20 20 20 20 20 20 20 20'
'20 74 79 70 65 3D 22 77 69 6E 33 32 22 20 0D 0A'
'20 20 20 20 20 20 20 20 20 20 20 20 6E 61 6D 65'
'3D 22 4D 69 63 72 6F 73 6F 66 74 2E 57 69 6E 64'
'6F 77 73 2E 43 6F 6D 6D 6F 6E 2D 43 6F 6E 74 72'
'6F 6C 73 22 20 0D 0A 20 20 20 20 20 20 20 20 20'
'20 20 20 76 65 72 73 69 6F 6E 3D 22 36 2E 30 2E'
'30 2E 30 22 20 0D 0A 20 20 20 20 20 20 20 20 20'
'20 20 20 70 72 6F 63 65 73 73 6F 72 41 72 63 68'
'69 74 65 63 74 75 72 65 3D 22 58 38 36 22 20 0D'
'0A 20 20 20 20 20 20 20 20 20 20 20 20 70 75 62'
'6C 69 63 4B 65 79 54 6F 6B 65 6E 3D 22 36 35 39'
'35 62 36 34 31 34 34 63 63 66 31 64 66 22 20 0D'
'0A 20 20 20 20 20 20 20 20 20 20 20 20 6C 61 6E'
'67 75 61 67 65 3D 22 2A 22 20 0D 0A 20 20 20 20'
'20 20 20 20 2F 3E 20 0D 0A 20 20 20 20 3C 2F 64'
'65 70 65 6E 64 65 6E 74 41 73 73 65 6D 62 6C 79'
'3E 20 0D 0A 3C 2F 64 65 70 65 6E 64 65 6E 63 79'
'3E 20 0D 0A 3C 2F 61 73 73 65 6D 62 6C 79 3E 0D'
'0A'
}





